.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: min(1300px, 92%);
  margin: 0 auto;
  gap: 2rem;
  overflow: visible;
}

@media (max-width: 768px) {
  .app {
    width: 92%;
    gap: 1.5rem;
  }
}
