@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --font-primary: "Zalando Sans Expanded", comic-sans-ms;
  --color-text-dark: #000000;
  --color-text-light: #e7e7e7;
  --color-background-dark: #121212;
  --color-background-light: #ffffff;
  --color-accent-lightgrey: #b8b2b2;
  --color-background-mid: #5e5e5e;
  --color-accent-orange: #ff6600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}
